body{
	background-color:@whitesmoke;
	background-image:url('../img/loader-large.gif');
	background-repeat:no-repeat;
	background-position:center center;
	h1{

	}
	h2{

	}
	h3{

	}
	h4{

	}
	p{

	}
	span{

	}
	a{

	}
	div{

	}
	section{

	}
	article{

	}
	button{

	}
	img{

	}
	blockquote{

	}
	input{

		&[type='text']{
		
		}
		&[type='password']{

		}
		&[type='number']{

		}
		&[type='checkbox']{

		}
		&[type='radio']{

		}
		&[type='submit']{

		}
		&[type='date']{

		}
		&[type='email']{

		}
		&[type='file']{

		}
		&[type='range']{

		}
		&[type='reset']{

		}
		&[type='search']{

		}
		&[type='tel']{

		}
		&[type='url']{

		}
	}
	select{
		
		option{

		}
	}
	textarea{

	}
	section{
		display:none;
		height:100%;
		width:100%;
		&[dark]{
			background-color:@blacksmoke;
			color:@lighttext;
			.ui.segment{
				background-color:@black;
				color:@lighttext;
				border-color:@darkgray;
				
			}
		}
		&[light]{
			background-color:@whitesmoke;
			color:@darktext;
		}
	}

}