body{
	background-color:@whitesmoke;
	background-image:url('../img/loader-large.gif');
	background-repeat:no-repeat;
	background-position:center center;
	box-sizing:border-box;
	font-family: source-sans-pro, sans-serif;
	*{
		box-sizing:border-box;
	}
	h1{

	}
	h2{

	}
	h3{

	}
	h4{

	}
	p{

	}
	span{

	}
	a{

	}
	div{

	}
	section{

	}
	article{

	}
	button{

	}
	img{

	}
	blockquote{

	}
	input{

		&[type='text']{
		
		}
		&[type='password']{

		}
		&[type='number']{

		}
		&[type='checkbox']{

		}
		&[type='radio']{

		}
		&[type='submit']{

		}
		&[type='date']{

		}
		&[type='email']{

		}
		&[type='file']{

		}
		&[type='range']{

		}
		&[type='reset']{

		}
		&[type='search']{

		}
		&[type='tel']{

		}
		&[type='url']{

		}
	}
	select{
		
		option{

		}
	}
	textarea{

	}
	i.icon.swipenav{
		font-size:4.5em;
		opacity:0.75;
		color:#999999;
		&:hover{
			opacity:1;
		}
		&#navup{
			position:absolute;
			top:1%;
			left:50%;
			margin-left:-33px;
		}
		&#navdown{
			position:absolute;
			bottom:1%;
			left:50%;
			margin-left:-33px;
		}
	}
	nav{
		position: absolute;
		top: 20px;
		left: 0px;
		display: block;
		width: 100%;
		height: 34px;
		line-height: 34px;
		color:#999999;
		font-size:18px;
		font-weight:bold;
		.left{
			position:absolute;
			top:-11px;
			right:50%;
			margin-right:40px;
			height: 100%;
			line-height: 34px;
				cursor:pointer;
			img{
				height: 100%;
				position: relative;
				top: 11px;
			}
			span{
				color:#aa0000;
			}
		}
		.right{
			position:absolute;
			top:0px;
			left:50%;
			margin-left:40px;
			list-style-type:none;
			li{
				display:inline-block;
				cursor:pointer;
				&:after{
					content:'|';
					margin-left:10px;
					margin-right:10px;
					display:inline-block;
				}
				&:last-of-type{
					&:after{
						display:none;
					}
				}
			}
		}
	}
	section{
		display:none;
		height:100%;
		width:100%;
		&[dark]{
			background-color:@blacksmoke;
			color:@lighttext;
			.ui.segment{
				background-color:@black;
				color:@lighttext;
				border-color:@darkgray;
				
			}
			i{
				color:@lighttext !important;
			}
		}
		&[light]{
			background-color:@whitesmoke;
			color:@darktext;
		}
		&#main{
			padding:40px;
			padding-top:0px;
			padding-bottom:0px;
			text-align:center;
			.float-wrapper{
				width:100%;
				height:70%;
				margin:auto;
				max-width:1000px;
				position:relative;
				top:15%;
			}
			.column{
				text-align:center;
				img{
					max-height:60%;

				}
				h1,h2{
					opacity:.75;
				}
			}
			.tagline{
				text-align:center;
				font-size:4em;
				line-height:1em;
			}
			
		}
		&#stack{
			padding:40px;
			padding-top:0px;
			padding-bottom:0px;
			.float-wrapper{
				width:100%;
				height:70%;
				margin:auto;
				max-width:1000px;
				position:relative;
				top:15%;
				img{
					margin-bottom:20px;
				}
			}
		}
		&#projects{
			padding:40px;
			padding-top:0px;
			padding-bottom:0px;
			.float-wrapper{
				width:100%;
				height:70%;
				margin:auto;
				max-width:1000px;
				position:relative;
				top:15%;
				img{
					margin-bottom:20px;
				}
			}
		}
		&#about{
			padding:40px;
			padding-top:0px;
			padding-bottom:0px;
			.float-wrapper{
				width:100%;
				height:70%;
				margin:auto;
				max-width:1000px;
				position:relative;
				top:15%;
				img{
					margin-bottom:20px;
				}
			}
		}
	}

}